<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container-fluid">
    <div class="row" th:replace="fragments/layout :: amazin-navbar"></div>
    <h1>Adding the following book to Cart</h1>
    <p th:text="'Title: ' + ${template.getTitle()}" />
    <p th:text="'ISBN: ' + ${template.getIsbn()}" />
    <p th:text="'Author: ' + ${template.getAuthor()}" />
    <p th:text="'Publisher: ' + ${template.getPublisher()}" />
    <p th:text="'Max. # of items available: ' + ${template.getInventory()}" />

    <form action="#" th:action="@{/addItem}" th:object="${template}" method="post">
        <p>Inventory: <input type="number" th:field="*{inventory}" th:value="${template.getInventory()}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
<th:block th:insert="fragments/layout :: bootstrap-scripts"></th:block>
</body>
</html>