<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Item to Cart</title>
</head>
<body>
<H1>Add the following to Cart:</H1>
<p th:text="'Title: ' + ${template.getTitle()}" />
<p th:text="'ISBN: ' + ${template.getIsbn()}" />
<p th:text="'Author: ' + ${template.getAuthor()}" />
<p th:text="'Publisher: ' + ${template.getPublisher()}" />
<p th:text="'Inventory: ' + ${template.getInventory()}" />
<img th:src="${template.getPictureUrl()}" />
</body>
</html>