<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>
Sort By:

<form th:action="@{/bookstore}">
    <input type="radio" id="title" th:name="sort" value="title">
    <label for="title">Title</label><br>
    <input type="radio" id="author" th:name="sort" value="author">
    <label for="author">Author</label><br>
    <input type="radio" id="publisher" th:name="sort" value="publisher">
    <label for="publisher">Publisher</label>
    <input type="submit" value="Submit">
</form>

<a th:href="@{/logout}">Logout</a>
<table>
    <thead>
    <tr>
        <th> Title</th>
        <th> ISBN</th>
        <th> Author</th>
        <th> Publisher</th>
        <th> Inventory</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.empty}">
        <td colspan="2"> No Books Available</td>
    </tr>
    <tr th:each="book : ${books}">
        <td><span th:text="${book.title}"> Title </span></td>
        <td><span th:text="${book.isbn}"> ISBN </span></td>
        <td><span th:text="${book.author}"> Author </span></td>
        <td><span th:text="${book.publisher}"> Publisher </span></td>
        <td><span th:text="${book.inventory}"> Inventory </span></td>
        <td><span><a th:href="'/viewBook/'+${book.isbn}">View it</a></span></td>
        <td><span><a th:href="'/addItem/'+${book.isbn}">Add To Cart</a></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>