<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container-fluid">
    <div class="row" th:replace="fragments/layout :: amazin-navbar"></div>

    <h1>Your Cart</h1>
    <p>Checkout<p/>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> Title </th>
        <th scope="col"> ISBN </th>
        <th scope="col"> Author </th>
        <th scope="col"> Publisher </th>
        <th scope="col"> Inventory </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cart.empty}">
        <td colspan="5">Cart is empty </td>
    </tr>
    <tr th:each="item : ${cart.getItems()}">
        <td><a th:href="'/viewBook/'+${item.isbn}" th:text="${item.title}"> Title </a></td>
        <td><span th:text="${item.isbn}"> ISBN </span></td>
        <td><span th:text="${item.author}"> Author </span></td>
        <td><span th:text="${item.publisher}"> Publisher </span></td>
        <td><span th:text="${item.inventory}"> Inventory </span></td>
        <td><span><a href="#" th:data-isbn="${item.isbn}" onclick="removeFromCart(this.getAttribute('data-isbn'))" >Remove</a></span></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-dark"href="/checkoutState">Finish checkout</a>
</div>
<script type="text/javascript" th:src="@{cart.js}"></script>
<th:block th:insert="fragments/layout :: bootstrap-scripts"></th:block>
</body>
</html>