<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<div class="container-fluid">

    <div class="row" th:replace="fragments/layout :: amazin-navbar"></div>



    <div class = "row p-4">
        <div class ="col-sm-4">
            <p th:text="'Hello ' + ${user.getFullName()}"/>
        </div>

    </div>


    <div class="row p-4">
        <div class="col-sm-6">
            <a th:href="@{/logout}">Logout</a>
        </div>
        <div class="col-sm-6">

        </div>
    </div>

</div>




<a href="/bookstore">Visit Book Store</a>
<a th:href="@{/logout}">Logout</a>
<a href="/uploadBook">Upload a book</a>
<a th:href="/checkout">Your cart</a>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<th:block th:insert="fragments/layout :: bootstrap-scripts"></th:block>


</body>
</html>