<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>

<h1>Login User Account</h1>

<fieldset>
    <form action="#" th:action="@{/sign-in}" th:object="${template}" method="post">
        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p>Password: <input type="password"  th:field="*{password}"/></p>

        <p><input type="submit" value="login" /> <input type="reset" value="Reset" /></p>
    </form>

</fieldset>

</body>
</html>