<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload a Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Upload a Book</h1>
<fieldset>
    <form action="#" th:action="@{/uploadBook}" th:object="${template}" method="post">
        <p>Title: <input type="text" th:field="*{title}"/></p>
        <p>ISBN: <input type="text" th:field="*{isbn}"/></p>
        <p>Author: <input type="text" th:field="*{author}"/></p>
        <p>Publisher: <input type="text" th:field="*{publisher}"/></p>
        <p>Picture URL: <input type="text" th:field="*{pictureUrl}"/></p>
        <p>Inventory Num: <input type="text" th:field="*{inventory}"/></p>
        <p><input type="hidden" name="userID" th:value="${userID}">
        <p><button type="submit">Add </button> <input type="reset" value="Reset" /></p>
    </form>



</fieldset>

</body>
</html>