<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View Book</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <p th:text="'Title: ' + ${template.getTitle()}" />
    <p th:text="'ISBN: ' + ${template.getIsbn()}" />
    <p th:text="'Author: ' + ${template.getAuthor()}" />
    <p th:text="'Publisher: ' + ${template.getPublisher()}" />
    <p th:text="'Inventory: ' + ${template.getInventory()}" />
    <img th:src="${template.getPictureUrl()}" />
    <span th:unless="${template.isOutOfStock()}"><a th:data-isbn="${book.isbn}" th:onclick="addToCart(this.getAttribute('data-isbn'));" href="#">Add To Cart</a></span>

    <script type="text/javascript" th:src="@{cart.js}"></script>

<div class="container-fluid">

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%">
            <a class="navbar-brand" href="/">Amazin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="padding-right:50px;padding-left:50px">
                        <a href="/bookstore">Visit Book Store</a>
                    </li>
                    <li class="nav-item">
                        <a href="/uploadBook">Upload a book</a>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                    <input class="form-control mr-sm-2" type="search" th:name="title" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
        </nav>
    </div>


    <p th:text="'Title: ' + ${template.getTitle()}"/>
    <p th:text="'ISBN: ' + ${template.getIsbn()}"/>
    <p th:text="'Author: ' + ${template.getAuthor()}"/>
    <p th:text="'Publisher: ' + ${template.getPublisher()}"/>
    <p th:text="'Inventory: ' + ${template.getInventory()}"/>
    <img th:src="${template.getPictureUrl()}"/>

</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>